{% load static %}
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'dashboard' %}">
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="fas fa-laugh-wink"></i>
    </div>
    <div class="sidebar-brand-text mx-3">ERP <sup>System</sup></div>
  </a>

  <hr class="sidebar-divider my-0">

  <li class="nav-item active">
    <a class="nav-link" href="{% url 'dashboard' %}">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashboard</span></a>
  </li>
  <hr class="sidebar-divider">

  <div class="sidebar-heading">Modul ERP</div>

  <li class="nav-item">
    <a class="nav-link" href="{% url 'coa_list' %}">
      <i class="fas fa-fw fa-list"></i>
      <span>Chart of Account (COA)</span></a>
  </li>

  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseJournal" aria-expanded="true" aria-controls="collapseJournal">
      <i class="fas fa-fw fa-book"></i>
      <span>General Journal</span>
    </a>
    <div id="collapseJournal" class="collapse" aria-labelledby="headingJournal" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item" href="{% url 'journal_list' %}">Daftar Jurnal</a>
        <a class="collapse-item" href="{% url 'journal_create' %}">Input Jurnal Baru</a>
      </div>
    </div>
  </li>

  <hr class="sidebar-divider">

  <div class="sidebar-heading">Technical Test Tools</div>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'string_analyzer' %}">
      <i class="fas fa-fw fa-code"></i>
      <span>String Analyzer</span></a>
  </li>

  <hr class="sidebar-divider">

  <div class="text-center d-none d-md-inline mt-4">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>
</ul>