{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{% block title %}Dashboard{% endblock %} - ERP System</title>

  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">
</head>

<body id="page-top">
  <div id="wrapper">

    {% include 'includes/sidebar.html' %}

    <div id="content-wrapper" class="d-flex flex-column">

      <div id="content">

        {% include 'includes/topbar.html' %}

        {% block content %}
        {% endblock content %}

      </div>
      {% include 'includes/footer.html' %}

    </div>
  </div>

  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>
  
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'js/sb-admin-2.min.js' %}"></script>

  {% if messages %}
  <script>
      {% for message in messages %}
          Swal.fire({
              icon: '{% if message.tags == "error" %}error{% elif message.tags == "warning" %}warning{% else %}success{% endif %}',
              title: '{% if message.tags == "error" %}Gagal!{% else %}Berhasil!{% endif %}',
              text: '{{ message }}',
              timer: 3000,
              showConfirmButton: false
          });
      {% endfor %}
  </script>
  {% endif %}

  {% block scripts %}
  {% endblock scripts %}

</body>
</html>